
body{
    background-image: linear-gradient(rgb(82, 192, 255) , rgb(255, 121, 255));
    height: 100vh;
}

#app{
    overflow-y:hidden
}
.hover{
    cursor: pointer;
}
footer{
    height: 3vh;
}
.width-mine{
    max-width: 40%;
}
.spacer{
    height: 85vh;
}